h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 100ch;
    padding: 24px;
    padding-top: 32px;
}

@media screen and (max-width: 980px) {
    .container {
        padding: 24px 0px;
    }
}

.ztips-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ztips-actions {
    display: flex;
    gap: 16px;
    padding: 0 16px 0 16px;
}

.ztips-search {
    flex-grow: 1;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    height: 56px;
    border-radius: 32px;
    border: none;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    cursor: pointer;
}

#ztips-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ztip {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    cursor: pointer;
}

:hover.ztip {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
}


.ztip-header {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 16px;

}

.ztip-title {
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
}

.ztip-text {
    display: none;
}

.ztip-text.expanded {
    display: block;
}